<div class="header-notification">
    <p>
        <span>FREE SHIPPING & RETURN</span>
        <span>MONEY BACK GUARANTEE</span>
        <span>ONLINE SUPPORT 24/7</span>
        <span>CALL US + 000 1584 2578</span>
    </p>
</div>
