.header.panel {
    > .header.links {
        > li {
            font-family: 'Open Sans', sans-serif;
            color: #4A4A4A;
            font-weight: 600;
            letter-spacing: 0.025em;
            font-size: 11px;
            text-transform: uppercase;
            margin: 0;

            a,
            span {
                color: #4A4A4A;
                margin: 0 15px;
            }
        }
    }
}

.page-header {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 4;

    .header.panel {
        padding: 10px 0;

        > .header.links {
            > li {
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
                &.welcome {
                    float: left;
                }
            }
        }
    }

    .item.compare {
        display: block;
        position: absolute;
        left: 0;
        top: 1px;
        list-style: none;

        .action {
            display: block;
            color: #4A4A4A;
            font-weight: 600;
            letter-spacing: 0.025em;
            font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 11px;
            text-decoration: none;
            text-transform: uppercase;

            &:before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 20px;
                background: url(../images/compare-icon.png) no-repeat 0 7px;
                background-size: 83%;
            }
        }
    }
}

.select-area {
    position: absolute;
    left: 0;
    top: 50%;

    > div {
        font-family: 'Open Sans', sans-serif;
        background-color: #e6e3df;
        padding: 6px 10px;
        text-align: left;
        margin-right: 8px;

        strong {
            font-weight: 600;
            letter-spacing: 0.03em;
            font-size: 11px;
            text-transform: uppercase;
            color: #4a4a4a;
        }
    }
}

.logo {
    float: none;
    display: block;
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translateX(-50%);
}

.block-search {
    margin: 25px 0 5px;

    input {
        background-color: #e6e3df;
        color: #4a4a4a;
        line-height: 30px;
        height: 30px;
        border: 0;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 9px 34px 9px 15px;
    }
}

@media screen and (max-width: 768px) {
    .select-area {
        display: none;
    }
    .page-header {
        display: grid;
        grid-template-columns: calc(~"81% - 70px") 35px 35px 19%;
        grid-template-rows: 70px 0;
        grid-template-areas: "logo search menu cart";
        position: fixed;
        top: 62px;
        left: 0;
        background-color: white;

        .item.compare {
            display: none;
        }

        .nav-toggle {
            right: 0;
            left: auto;
            grid-area: menu;
            position: static;
            padding-top: 10px;

            &:before {
                color: #4a4a4a;
                font-weight: bold;
                font-size: 22px;
                margin-top: 7px;
            }
        }

        .logo {
            max-width: 80%;
            margin: 20px 0 0 10px;
            grid-area: logo;
            position: static;
            transform: none;
        }

        .block-search {
            grid-area: search;
            margin: 15px 0 0;

            .control {
                border: 0;
                margin: 0;
                padding: 0;
                position: absolute;
                width: 90%;
                top: 0;
                left: 5%;
                z-index: 999;
            }
            .label {
                float: none;

                &:before {
                    color: #4a4a4a;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 37px;
                }
            }
        }
    }

}