.header-notification {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 7px 0;

    > p {
        display: block;
        max-width:1280px;
        margin: 0 auto;
    }
    span {
        margin: 0 10px;
        float: left;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 24px;

        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            float: right;
            margin-right: 0;
        }
    }
}
.header.panel > .header.links > li a {
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-size: 11px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .header-notification {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        > p {
            max-width: 768px;
            padding: 0 15px;
        }
        span {
            float: none;
            display: inline-block;
            margin-left: 0;

            &:first-of-type {
                clear: both;
            }
            &:last-of-type {
                clear: both;
                margin-right: 0;
                float: none;
            }
        }
    }
}
