.page-footer {
    background-color: #1D1D1D;

    * {
        box-sizing: border-box;
    }
    a {
        color: #90969A;
    }

    .block-title {
        margin: 5px 0 15px;
        line-height: 1.2;
        font-size: 16px;

        strong {
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.075em;
            text-transform: uppercase;
            color: #fff;
        }
    }

    .container,
    .footer-top {
        position: relative;
        max-width: 1280px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 24px 15px;
        border-top: 1px solid #2c2c2c;

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .block {
            text-align: left;
            line-height: 1.5;
            margin: 0;
            width: auto;
        }
        .block-title {
            strong {
                cursor: pointer;
            }
        }
        .block-bottom {
            border-top: 1px solid #2c2c2c;
            text-align: left;
            padding: 27px 0;
            overflow: hidden;
            margin-top: 32px;
        }
        .working span {
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 0.005em;
            line-height: 18px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
            }

            &.contact-info {
                li {
                    padding: 5px 0;

                    &:first-child {
                        padding-top: 0;
                    }

                    strong {
                        font-weight: 400;
                        font-size: 13px;
                        margin-bottom: 7px;
                        display: inline-block;
                    }
                }
            }
            &.links {
                margin-top: -5px;

                li {
                    padding: 6px 0;
                    position: relative;
                    line-height: 1;
                    display: block;
                    margin: 0;

                    strong {
                        font-weight: 400;
                    }
                }
            }
            &.features {
                margin-top: -5px;

                li {
                    padding: 6px 0;
                    position: relative;
                    line-height: 1;
                    display: block;
                }
            }
        }

    }

    .footer-top {
        border: 0;
        > .row {
            display: inline-block;
            padding-right: 15px;
            padding-left: 15px;
        }
        .block.newsletter {
            display: inline-block;
            position: relative;
            left: 25%;
            transform: translateX(-50%);

            .field {
                margin: 0;
                .control {
                    position: relative;
                    text-decoration: none;
                    display: block;

                    &:before {
                        line-height: 49px;
                        margin-left: 4px;
                    }
                    input {
                        background-color: #2c2c2c;
                        color: #6b7074;
                        height: 48px;
                        border: none;
                        font-size: 14px;
                        border-radius: 0;
                        padding-left: 40px;
                    }
                }
            }
            .actions {
                display: table-cell;
                vertical-align: top;
                width: 1%;

                button {
                    height: 48px;
                    border-radius: 0;
                    text-transform: uppercase;
                    padding: 0 22px;
                    background-color: #2c2c2c;
                    border-color: #2c2c2c;
                    border-left-color: #3b3b3b;
                    margin-left: 0;
                    font-family: Arial;
                    letter-spacing: 0;
                    font-weight: 400;
                }
            }
        }
    }

    .social-icons {
        display: inline-block;
        float: right;
        margin-top: 20px;
        margin-right: -15px;

        a {
            background-image: none;
            background-color: #33332f;
            text-indent: 0;
            color: #fff;
            border-radius: 0;
            font-size: 18.6px;
            width: 48px;
            height: 48px;
            text-align: center;
            margin-left: 0;
            margin-right: 4px;
            display: inline-block;
            line-height: 46px;

            > i {
                width: 26px;
                height: 25px;
                display: inline-block;
                margin: 11px 0;
            }
        }
        .icon-facebook {
            background: transparent url(../images/social-facebook.png) no-repeat center center;
        }
        .icon-twitter {
             background: transparent url(../images/social-twitter.png) no-repeat center center;
        }
        .icon-linkedin {
            background: transparent url(../images/social-linkedin.png) no-repeat center center;
        }
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }
    .col-lg-7 {
        flex: 0 0 58.333%;
        max-width: 58.3333%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }
    .col-md-4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .page-footer {

        .container,
        .footer-top {
            padding: 24px 0;

            .row {
                width: 100%;
                margin: 0;
            }
            ul {
                &.contact-info {
                    li {
                        strong {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .container {
            padding: 25px 15px;
            .custom-block,
            .working {
                float: none !important;
                margin-top: 15px;
            }
        }
        .footer-top {
            .block.newsletter {
                position: static;
                transform: none;
                padding: 15px;
            }
        }
        .social-icons {
            float: none;
            margin: 0 0 0 15px;
        }



        .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 0;
            padding-left: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }


}