@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Oswald:400');

@import '_header-notification.less';
@import '_header.less';
@import '_top-navigation.less';
@import '_page-footer.less';


@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__l: 1024px;
@screen__xl: 1440px;



html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}
*,
::after,
::before {
    box-sizing: inherit;
}
body {
    color: #777;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.3rem;
}
