.menu-container {
    border-top: solid 1px #eee;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.navigation {
    background-color: white;
    position: relative;
    z-index: 3;
    font-family: 'Oswald', sans-serif;
    margin-left: -12px;

    ul {
        padding-left: 0;
    }

    .level0 {
        > .level-top {
            text-transform: uppercase;
            display: inline-block;
            color: #111;
            font-size: 13px;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;

        }
        &.parent {
            > .level-top {
                &:after {
                    content: '\203A';
                    transform: rotate(90deg);
                    display: inline-block;
                    vertical-align: baseline;
                    margin-left: 6px;
                    line-height: 7px;
                    font-size: 14px;
                }
            }
        }
    }
}

.nav-sections {
    display: inline-block;
    background: none;
    width: calc(~"100% - 100px");
}


@media screen and (max-width: 768px) {
    .nav-sections {
        background-color: white;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }
    .nav-open {
        .nav-sections {
            z-index: 20;
            opacity: 1;
        }
        .page-wrapper {
            left: 0;
            transition: none;
        }
    }
    .page-main {
        margin: 145px auto 0;
        max-width: 768px;
    }
}
