<div class="social-icons">
    <a href="https://www.facebook.com/" title="Facebook" target="_blank">
        <i class="icon-facebook"></i>
    </a>
    <a href="https://twitter.com/" title="Twitter" target="_blank">
        <i class="icon-twitter"></i>
    </a>
    <a href="https://linkedin.com/" title="Linkedin" target="_blank">
        <i class="icon-linkedin"></i>
    </a>
</div>