<div class="row">
    <div>
        <div class="block-title"><strong><span>BE THE FIRST TO KNOW</span></strong></div>
        <div class="block-content"><p>Get all the latest information on Events, Sales and Offers.<br>Sign up for newsletter today.</p></div>
    </div>
</div>
