.minicart-wrapper {
    display: inline-block;
    margin-top: 15px;
    float: right;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    .action.showcart {
        text-decoration: none;

        &:before {
            content: '';
            display: inline-block;
        }
        &:hover {
            text-decoration: none;
        }
        .counter-number {
            color: #111;
        }
        .counter {
            position: relative;
            margin: 0;

            font-weight: 400;

            padding-left: 22px;
            text-transform: uppercase;

            > span {
                color: #111;
                overflow: visible;
            }
            &:before {
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background: url("../images/cart-icon.png") no-repeat center center;
                background-size: 70%;
                position: absolute;
                left: 0;
                top: -1px;
            }
            &.qty {
                background: transparent;
                color: #111;
                font-family: 'Oswald', sans-serif;
                font-size: 13px;

                padding: 0 0 0 24px;

                &.empty {
                    overflow: visible;
                    display: inline-block;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .minicart-wrapper {
        position: fixed;
        right: 10px;
        top: 82px;
        margin: 0;
        z-index: 10;

        .action.showcart {
            .counter {
                &:before {
                    position: static;
                    vertical-align: text-bottom;
                }
                &.qty {
                    padding: 0;
                }
            }
        }
    }
}



